header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #1b5abd;
}

.logo {
    color: white;
    font-size: 18px;
}

nav {
    a {
        margin-left: 20px;
        color: white;
        text-decoration: none;
    }
}

.page-body {
    padding: 20px;
}