<div class="settings">
    <div class="settings-wrapper">
        <div class="settings-card">
            <h2>Update your profile</h2>
            <form>
                <div class="form-control">
                    <label for="firstName">First name</label>
                    <input type="text" name="firstName" value="John">
                </div>
                <div class="form-control">
                    <label for="lastName">Last name</label>
                    <input type="text" name="lastName" value="Doe">
                </div>
                <div class="form-control">
                    <label for="password">Change password</label>
                    <input type="password" name="password" value="1234">
                </div>
                <button>Save</button>
            </form>
        </div>
    </div>
</div>